<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <head th:replace="partials :: head" />
</head>
<body class="container">
    <nav th:replace="partials :: navbar" />
    <header class="text-center">
        <div class="main-header">
            <h1>James Meyer</h1>
            <h2>Software Engineer</h2>
        </div>
    </header>
    <main>
        <!-- Introductory Paragraph -->
        <div class="row">
            <p><strong>About Me</strong>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris laoreet metus id dolor luctus feugiat. Fusce sagittis ante ut dui aliquet dictum. Proin pulvinar ornare nisl, aliquet lacinia ipsum dictum.</p>
        </div>
        <hr/>
        <!-- Right column -->
        <div class="row">
            <div class="column lg-col-40 visible-box">
                <div class="row">
                    <ul>
                        <li>jamesjmeyer210@gmail.com</li>
                        <li>210.749.0947</li>
                        <li>https://www.linkedin.com/in/james-j-meyer/</li>
                        <li>https://github.com/jamesjmeyer210</li>
                    </ul>
                </div>
                <div class="row">
                    <h2>Education</h2>
                    <div class="row">
                        <p>September 2018 - April 2019</p>
                        <div class="tabbed-box">
                            <h4>Codeup</h4>
                            <p>Codeup is a fully-immersive, project-based, and intensive 18 week full stack Java career accelerator that provides students with 600+ hours of expert instruction in software development.</p>
                        </div>
                    </div>
                    <div class="row">
                        <p>January 2015 - June 2017</p>
                        <div class="tabbed-box">
                            <h4>Northeast Lakeview College</h4>
                            <p>Associates Degree of Science | Major: Computer Science</p>
                        </div>
                    </div>
                    <div class="row">
                        <h2>Technical Skills</h2>
                        <ul>
                            <li><strong>Languages:</strong> Java - Javascript - HTML - CSS - SQL - JQuery - C - Unix Shell - Rust</li>
                            <li><strong>Exposure to:</strong> Github - Apache Tomcat - MySQL</li>
                            <li><strong>Math Experience:</strong> Calculus - Linear Algebra - Discrete Mathematics</li>
                        </ul>
                    </div>
                </div>
            </div>
            <!-- Left Column -->
            <div class="column lg-col-60">

                <div class="row">
                    <h2>Development Projects</h2>
                    <ul>
                        <li><strong>Adlister</strong></li>
                        <li><strong>SQL Query Builder</strong></li>
                        <li><strong>Contact Manager App</strong></li>
                        <li><strong>Movies Application</strong></li>
                    </ul>
                </div>

                <div class="row">
                    <h2>Professional Experience</h2>
                    <div class="row">
                        <div class="column lg-col-50">
                            <strong>Bitcoin Tech Weekly</strong>
                        </div>
                        <div class="column lg-col-50 text-right">
                            Dec 2017 - Jan 2018
                        </div>
                    </div>
                    <div class="row">
                        <div class="column lg-col-100 tabbed-box">
                            <p><em>Author / Editor / Researcher</em></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column lg-col-50">
                            <strong>Northeast Lakeview College</strong>
                        </div>
                        <div class="column lg-col-50 text-right">
                            June 2017 - Sep 2018
                        </div>
                    </div>
                    <div class="row">
                        <div class="column lg-col-100 tabbed-box">
                            <p><em>Computer Science and Mathematics Tutor</em></p>
                        </div>
                    </div>

                    <div class="row">
                        <div class="column lg-col-50">
                            <strong>HEB Warehouse</strong>
                        </div>
                        <div class="column lg-col-50 text-right">
                            June 2014 - Januage 2015
                        </div>
                    </div>
                    <div class="row">
                        <div class="column lg-col-100 tabbed-box">
                            <p><em>Order Selector</em></p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </main>
    <footer>
        <hr/>
    </footer>
</body>
</html>