<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials :: head" />
<body>
    <nav th:replace="partials :: navbar" />
    <div class="container">
        <div class="row">
            <div class="column lg-col-10"></div>
            <div class="column lg-col-80">
                <div>
                    <h1>Write a New Post</h1>
                </div>
                <form action="/create" method="post">
                    <div>
                        <label for="title">Title:</label>
                    </div>
                    <div>
                        <input id="title" name="title" th:required="required" type="text" th:maxlength="${MAX_TITLE_LEN}" th:minlength="${MIN_TITLE_LEN}"/>
                    </div>
                    <div>
                        <label for="content">Content:</label>
                    </div>
                    <div>
                        <textarea name="content" id="content" cols="128" rows="16" th:required="required" th:minlength="${MIN_CONTENT_LEN}" th:maxlength="${MAX_CONTENT_LEN}"></textarea>
                    </div>
                    <div>
                        <input type="submit" id="btn-new-post" name="btn-new-post" value="Submit New Post" />
                    </div>
                </form>
            </div>
            <div class="column lg-col-10"></div>
        </div>
    </div>
</body>
</html>