<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
    <head th:replace="partials :: head" />
<body>
    <nav th:replace="partials :: navbar" />
    <div class="container">
        <div class="row">
            <div class="column lg-col-10"></div>
            <div class="column lg-col-80">
                <div>
                    <h3 th:text="${post.title}" />
                </div>
                <div>
                    <p th:text="${post.content}" />
                </div>
            </div>
            <div class="column lg-col-10"></div>
        </div>
    </div>
</body>
</html>